{% extends 'places/base.html' %}
{% block title %}Профиль пользователя{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <h1>Профиль пользователя</h1>
            <p><strong>Имя пользователя:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <div class="mt-4 d-flex justify-content-start">
                <a href="{% url 'logout' %}" class="btn btn-danger me-2">Выйти</a>
                <a href="{% url 'change_password' %}" class="btn btn-secondary">Изменить пароль</a>
                <a href="{% url 'delete_account' %}" class="btn btn-danger ms-2">Удалить аккаунт</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}